.color {
  border: black solid 1px;
  display: inline-block;
  width: 40px;
  height: 40px;
}

#black {
  background-color: black;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#green {
  background-color: green;
}

#pixel-board {
  width: 210px;
  height: 210px;
  display: inline-block;
  margin-top: 40px;
}

.pixel {
  width: 40px;
  height: 40px;
  border: black solid 1px;
  display: inline-block;
  margin-bottom: -4px;
  margin-left: -1px;
  margin-right: -1px;
  background-color: white;
}

#clear-board {
  float: left;
}
