#title {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.color {
  border: black solid 1px;
  display: inline-block;
  width: 40px;
  height: 40px;
}

#color-palette {
  text-align: center;
}

#black {
  background-color: black;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#green {
  background-color: green;
}

#pixel-board {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin-top: 90px;
  margin-left: -100px;
}

.pixel {
  width: 40px;
  height: 40px;
  border: black solid 1px;
  display: inline-block;
  margin-bottom: -4px;
  margin-top: -1px;
  margin-left: -1px;
  margin-right: -1px;
  background-color: white;
}

#clear-board {
 float: left;
 margin-left: 45%;
 margin-top: 30px;
 border-radius: 10%;
}

#footer {
  text-align: center;
  font-size: 13px;
  font-style: italic;
  margin-top: 80px;
}
