#title {
}

#color-palette {
}

.color {
  border: black solid 1px;
  display: inline-block;
  width: 40px;
  height: 40px;
}

#black {
  background-color: black;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#green {
  background-color: green;
}

#pixel-board {
width: auto;
height: auto;
display: inline-block;
}

.pixel {
  width: 40px;
  height: 40px;
  border: black solid 1px;
  display: inline-block;
  margin-top: 0;
}

.selected {
 
}

#clear-board {
  margin-top: 10px;
  margin-bottom: 10px;
}

.limpar {
  background-color: blue;
}